{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Profile Settings <i class="fa-solid fa-gears"></i></h2>
          <ul>
            <li><a href="/users/profile">Edit your Profile</a></li>
            <li><a href="/users/changepw">Change Password</a></li>
            <li><a href="/users/blocked">Blocked Users</a></li>
            <li><a href="/users/privacy">Privacy Settings</a></li>
          </ul>
    </div>
  </div>

{% endblock %}